.container {
  width: 100%;
  min-height: 100vh;
  height: max-content;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-image: url("../../Img/fondocity4.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container article {
  min-height: 600px;
}

.cards {
  max-width: 1240px;
  padding: 10px;
  display: grid;
  justify-content: space-around;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  background-color: rgba(191, 192, 138, 0.287);
}

@media (min-width: 30em) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 60em) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
