.title {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Nunito", sans-serif;
  color: #faa422;
  text-shadow: 1px 1px 1px #535353;
}

.item {
  margin: 10px;
  margin-bottom: 30px;
  justify-content: center;
}

.conten {
  background-color: white;
  border: 2px solid #faa222;
  border-radius: 5px;
  box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.5);
}
