.arrow_landing{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-items: center;
    background-color: blueviolet;
    width:100px;
    height: 100px;
    margin-left: 480px;
    z-index: 20;
}
@media (max-width: 600px) {
    .arrow_landing{
        display: flex;
        flex-direction:row-reverse;
        justify-self: center;
    }
}
 @media (max-width:575px){
     .logo_landing{
         width: 500px;
         margin-left: 40px;
         margin-top:-50px;
     }
    .arrow_landing{
        display: flex;
        position: relative;
        flex-direction: row;
        justify-items: center;
        background-color: blueviolet;
        width:100px;
        height: 100px;
        margin-left: 180px;
        z-index: 20;
    }
    /* .slogan_landing{

    } */
 }