/* estilos register */
.auth_main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
 
}


.auth_box-container {
  background-color: white;
  border: 2px solid #FAA222;
  border-radius: 5px;
  height: 450px;
  width: 600px;
  box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.5);
  
}
 .input_1{
  display: flex;
  justify-content: space-around;
  
} 
.input_2{
  display: flex;
  justify-content: space-around;
}
.edad{
  width: 90px;
} 
.input_ancho{
  width: 300px;
}

.auth_title {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;  
  font-family: 'Nunito', sans-serif;
  color: #faa422;
  text-shadow: 1px 1px 1px #535353;
  font-size: 35px;
}

.auth_input{
    padding: 10px;
    border-color: #d1cecefd;
    margin:10px 10px 10px;
    height: 50px;
}

.btn{
  cursor: pointer;
  padding: 5px;
  width: 150px;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  border-color: #faa422;
}
.btn_button{
  display:flex;
  justify-content: center;
  padding: 30px;
  align-items: center;
}
.title {
  height: 30px;
  padding: 20px;
}
.title:hover{
  color:#535353
}

/* estilos menuNav */

.menuNav {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  width: 200px;
  color: rgb(209, 206, 191)
}
.emoticon {
  font-size: 20px;
  color: black;
}

.menuItem:hover {
  color: #535353;
  background-color: #535353;
}
/* estilos login */

.form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hola {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 5px;
}
.containerModal{
  display: flex;
  justify-content:space-around;
}

.botonEdit{
  display: flex;
  justify-content:center;
  padding:40px
}

