.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #eca424;
  color: #474737;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  cursor: pointer;
  background-color: #ebb76859;
}

.paginationBttns a:hover {
  color: white;
  background-color: #faa222;
}

.paginationActive a {
  color: white;
  background-color: #faa222;
}

.paginationDisabled a {
  color: rgb(15, 6, 6);
  background-color: rgba(128, 128, 128, 0.425);
}
