.paginationBttns {
  width: 100%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #eca424;
  color: #474737;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  cursor: pointer;
  background-color: #ebb76859;
}

.paginationBttns a:hover {
  color: white;
  background-color: #faa222;
}

.paginationActive a {
  color: white;
  background-color: #faa222;
}

.paginationDisabled a {
  color: rgb(15, 6, 6);
  background-color: rgba(128, 128, 128, 0.425);
}
.switch_home{
  position: absolute;
  height: 80px;
  width: 150px;
  /* background-color: aqua; */
  z-index: 3;
  margin-left:87%;
  margin-top:40px; 
}