@import url('https://fonts.googleapis.com/css2?family=Anton&family=Creepster&family=Open+Sans+Condensed:wght@300&display=swap');

.container_score{
    width: auto;
    height: 350px;
    
    border-radius: 10px 10px;
    background-color: rgb(250, 162, 34,0.5);
}
.score_letter{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: large;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2px;
}

.img_score{
    width:350px;
    height: 200px;
    border-top-style: ridge;
    border-bottom-style: ridge;
}
.container_carrousel{
    border-style: ridge;
}
/* square buttons */
.rec.rec-arrow {
    border-radius: 50%;
}
/* round buttons on hover */
.rec.rec-arrow:hover {
    border-radius: 50%;
    background-color: rgb(191, 192, 138);
}
/* hide disabled buttons */
/* .rec.rec-arrow:disabled {
    visibility: hidden;
} */
/* disable default outline on focused items */
/* add custom outline on focused items */
.rec-carousel-item:focus {
    outline: none;
    box-shadow: inset 0 0 1px 1px rgb(163, 155, 82)
}
.rec.rec-arrow-left{
    background-color:  rgb(250, 162, 34,0.5);;
}
.rec.rec-arrow-right{
    background-color:  rgb(250, 162, 34,0.5);
}
.rec.rec-arrow-left:hover:enabled{
    background-color: grey;
    box-shadow: 0 0 1px 3px var(--clr-primary-400);
}
.rec-arrow-right:hover:enabled{
    background-color: grey;
    box-shadow: 0 0 1px 3px var(--clr-primary-400);
}
.button.rec-dot{
    background-color: rgb(185, 179, 107);
    box-shadow: 0 0 1px 3px rgba(155, 154, 88, 0.5);
  }
  
.button.rec-dot:active  {
    box-shadow: 0 0 1px 3px rgba(228, 231, 33, 0.5);
  }