@import url("https://fonts.googleapis.com/css2?family=Anton&family=Creepster&family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Creepster&family=Nunito:wght@200&family=Open+Sans+Condensed:wght@300&family=Redressed&display=swap");
.container_score {
  width: 360px;
  height: 400px;
  transition: all ease-in-out 0.7s;

  border-radius: 10px 10px;
  background-color: rgba(230, 224, 214, 0.3);
}
.container_score:hover {
  box-shadow: rgba(219, 140, 22, 0.8);
}
.score_letter {
  font-family: "Nunito", sans-serif;
  font-size: 25px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
.score_rating {
  display: flex;
  flex-direction: row;
  margin-left: 40%;
  margin-bottom:23px;
}
.score_disp {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2px;
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: #faa222;
  padding: 5px;
  width: 120px;
  position: relative;
  z-index: 10;
  margin-left: 20px;
  padding-left: 2px;
  padding-right: 2px;
}
.img_score {
  width: 100%;
  height: 250px;
  margin-top: -50px;
  position: relative;
  border-top-style: ridge;
  border-bottom-style: ridge;
}
.container_carrousel {
  border-style: ridge;
  margin-bottom: 20px;
}
/* square buttons */
.rec.rec-arrow {
  border-radius: 50%;
}
.rec.rec-arrow:focus {
  background-color: #faa222 !important;
}
/* round buttons on hover */
.rec.rec-arrow:hover {
  border-radius: 50%;
  background-color: rgb(191, 192, 138);
}

/* hide disabled buttons */
/* .rec.rec-arrow:disabled {
    visibility: hidden;
} */
/* disable default outline on focused items */
/* add custom outline on focused items */
.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 1px rgb(163, 155, 82);
}
.rec.rec-arrow-left {
  background-color: rgb(250, 162, 34, 0.5);
}
.rec.rec-arrow-right {
  background-color: rgb(250, 162, 34, 0.5);
}
.rec.rec-arrow-left:hover:enabled {
  background-color: grey;
  box-shadow: 0 0 1px 3px var(--clr-primary-400);
}
.rec-arrow-right:hover:enabled {
  background-color: grey;
  box-shadow: 0 0 1px 3px var(--clr-primary-400);
}
.button.rec-dot {
  background-color: rgb(185, 179, 107);
  box-shadow: 0 0 1px 3px rgba(155, 154, 88, 0.5);
}

.button.rec-dot:active {
  box-shadow: 0 0 1px 3px rgba(228, 231, 33, 0.5);
}
.eaptOe {
  color: #faa222;
}
.lcUbOd.rec.rec-dot {
  background-color: rgba(177, 175, 55, 0.815);
  box-shadow: 0 0 1px 3px #faa222;
}
.btn_score {
  transition: all ease-in 1s;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-items: center;
  margin-left: 30%;
  font-size: 20px;
  font-weight: bold;
  text-transform: none;
  color: #fff;
  background-color: #eca242;
  border-radius: 5px;
  height: 40px;
  border-style: none;
  margin-top: 1px;
  padding-top: 6px;
  padding-left: 3px;
  padding-right: 3px;
  font-family: "Nunito", sans-serif;
}

.btn_score:hover {
  color: #eca242;
  background-color: #535353;
}

.no_found_score {
  font-size: 40px;
  font-family: "Nunito", sans-serif;
  margin-left: 100px;
  color: #faa222;
}
