.containerPaginate {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.buttonPaginate {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #eca424;
  color: #474737;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  cursor: pointer;
  background-color: #ebb76859;
}

.buttonPaginate :hover {
  color: white;
  background-color: #faa222;
}

.switch_home {
  position: absolute;
  height: 80px;
  width: 150px;
  /* background-color: aqua; */
  z-index: 3;
  margin-left: 87%;
  margin-top: 40px;
}
