* {
  font-family: 'Courier New', Courier, monospace;
  
}

.auth_main{
  display:flex;
  justify-content:center;
  align-items:center;
  margin:0px;
  height:40vh;
  width:300px;
}

.auth_box-container{
  background-color:white;
  box-shadow: 0px 3px #333456 ;
  border-radius:2px;
  padding:20px;
  width:250px;
}

.auth_title {
  color: #060930;
  margin-bottom:20px;

}
.auth_input{
  color: #333456;
  border:0px;
  border-bottom: 1px solid #d8d8d8;
  font-size:16px;
  margin-bottom:10px;
  height:20px;
  width:100%;

  transition: border-bottom .3s ease;

}

.auth_input:focus{
    outline:none;
    border-bottom: 1px solid #060930;
}
.btn-block{
  width: 100%;
}

.btn-primary{
  background-color:#060930;
  border-radius: 2px;

  
  

}
.btn-primary:hover{
  background-color: #0f134e;
}


.btn{
  border: none;
  color: white;
  cursor: pointer;
  font-size:12px;
  padding:7px 10px 7px 10px;
  transition:color .3s ease;

}
.btn:focus{
  outline: none;
}

.link{
  color: #333456;
  text-decoration:none;

}
.link:hover{
  text-decoration:underline
}

.pointer{
  cursor:pointer;
}
.menuNav{
  display: flex;
  flex-direction: column;
  background-color:antiquewhite;
  width:200px;
}
.area_cliente{
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  gap: 1rem;
  font-size:15px;
}
.link{
  text-decoration: none;
  gap: 3rem;
  color:black;
  border-bottom: 1px solid rgba(100, 100, 100,.3);
}
.area_institucional{
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 1rem;
  font-size:15px;
}

.area_redes{
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 1rem;
  font-size:15px;
}

.title{
  font-weight:bold;
}

.login{
  display: flex;
  justify-content:space-between;
  align-items:center;
}

